canvas{
    box-shadow: 10px 10px 10px rgb(0, 255, 149);
    border-radius: 10px;
}

body{
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1{
    font-size: 23px;
}